[Unit]
Description=Auto Hotspot

After=multi-user.target

[Service]
Type=forking
RemainAfterExit=yes
ExecStart=/usr/bin/autohotspot
KillMode=none

[Install]
WantedBy=multi-user.target
