<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
        <remap from="scan" to="/rplidar/scan"/>
        <rosparam command="load" file="$(find rover6_config)/config/gmapping.yaml" />
    </node>
    <include file="$(find rover6_config)/launch/static_transforms.launch"/>

    <include file="$(find rover6_chassis)/launch/rover6_chassis.launch">
        <arg name="rover6_chassis_services_enabled" value="false"/>
        <arg name="rover6_chassis_use_sensor_msg_time" value="false"/>
    </include>
</launch>
