<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <group ns="rtabmap">
        <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="--delete_db_on_start">
            <param name="frame_id" type="string" value="base_link"/>

            <param name="subscribe_depth" type="bool" value="false"/>
            <param name="subscribe_rgb"   type="bool" value="false"/>
            <param name="subscribe_rgbd"  type="bool" value="true"/>

            <remap from="odom" to="/rover6/odom"/>

            <remap from="rgbd_image" to="/camera/rgbd_image"/>

            <param name="queue_size" type="int" value="50"/>

            <param name="RGBD/AngularUpdate"        value="0.01"/>
            <param name="RGBD/LinearUpdate"         value="0.01"/>
            <param name="RGBD/OptimizeFromGraphEnd" value="false"/>
            <param name="Reg/Force3DoF"             value="true"/>
        </node>
    </group>


    <group ns="camera">
        <node pkg="nodelet" type="nodelet" name="camera_nodelet_manager" args="manager" output="screen"/>

        <node pkg="nodelet" type="nodelet" name="rgbd_sync" args="load rtabmap_ros/rgbd_sync camera_nodelet_manager" output="screen">
            <param name="compressed_rate"  type="double" value="5.0"/>
            <param name="approx_sync"      type="bool"   value="false"/>

            <remap from="rgb/image"       to="color/image_rect_color"/>
            <remap from="depth/image"     to="depth/image_rect_raw"/>
            <remap from="rgb/camera_info" to="color/camera_info"/>
        </node>
    </group>
</launch>
