<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <node pkg="tf" type="static_transform_publisher" name="laser_to_base" args="0.03 0.0 0.10698 0 0 1 0 base_link laser 50" />
    <node pkg="tf" type="static_transform_publisher" name="imu_to_base" args="-0.05886 0.00088 0.04535 0 0 0 1 base_link imu 100" />
    <node pkg="tf" type="static_transform_publisher" name="camera_to_base" args="0.03 0.0 0.029 0 0 0 1 base_link camera_link 16" />
</launch>
