<launch>
    <group ns="rover6" >
        <arg name="motors_topic" default="motors_throttle"/>
        <arg name="servos_topic" default="servos_throttle"/>

        <param name="serial_port" type="string" value="/dev/serial0"/>
        <param name="serial_baud" type="int" value="115200"/>
        <param name="motors_topic" type="string" value="$(arg motors_topic)"/>
        <param name="servos_topic" type="string" value="$(arg servos_topic)"/>

        <node type="throttle" name="motor_topic_throttle" pkg="topic_tools" required="true" output="screen"
            args="messages motors $(arg motors_topic)"/>
        <node type="throttle" name="servo_topic_throttle" pkg="topic_tools" required="true" output="screen"
            args="messages servos $(arg servos_topic)"/>
        <node type="rover6_serial_bridge_node" name="rover6_serial_bridge_node" pkg="rover6_serial_bridge" required="true" output="screen"/>
    </group>
</launch>
