[Unit]
# Rover6 systemd service file
Description=Rover6 GPIO Event Hub

[Install]
WantedBy=default.target

[Service]
ExecStart=/home/pi/.local/rover6/gpio_hub/bin/gpio_hub
Restart=always
RestartSec=10
KillSignal=SIGINT
