[Unit]
# Start up sound systemd service file
Description=Start up sound service

After=network-online.target sound.target
Wants=network-online.target sound.target

# After=systemd-networkd-wait-online.service sound.target
# Wants=systemd-networkd-wait-online.service sound.target

[Install]
WantedBy=default.target

[Service]
ExecStart=/home/pi/.local/boot_sound/bin/boot_sound.sh
#RemainAfterExit=no
#Type=oneshot
Type=forking
