<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="cmd_vel_topic" default="cmd_vel"/>
    <arg name="rover6_chassis_services_enabled" default="true"/>

    <group ns="rover6" >
        <node name="rover6_chassis" pkg="rover6_chassis" type="rover6_chassis_node.py" output="screen" required="true">
            <remap from="cmd_vel" to="$(arg cmd_vel_topic)" />
            <param name="services_enabled" value="$(arg rover6_chassis_services_enabled)"/>
        </node>
    </group>
</launch>
