[Unit]
# Rover6 systemd service file
Description=Rover6 device client

[Install]
WantedBy=default.target

[Service]
ExecStart=/home/pi/.local/rover6/bin/rover6_py
Restart=on-failure
KillSignal=SIGINT
