<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <include file="$(find rover6_chassis)/launch/rover6_chassis.launch"/>
    <include file="$(find rover6_serial_bridge)/launch/rover6_serial_bridge.launch"/>
    <!-- <include file="$(find rover6_teleop)/launch/rover6_teleop.launch"/> -->
    <!-- <include file="$(find rover6_config)/launch/rplidar.launch"></include> -->
</launch>
